@model Product

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<table class="table">
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.colour)
            </td>
        </tr>
    </tbody>
</table>
