@model System.Collections.Generic.IEnumerable<PernicekWeb.Models.PlaygroundViewModels.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<table class="table table-bordered table-hover">
    @foreach (var product in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => product.name)</td>
            <td>@Html.DisplayFor(modelItem => product.price)</td>
            <td>@Html.DisplayFor(modelItem => product.description)</td>
            <td>@Html.DisplayFor(modelItem => product.colour)</td>
        </tr>
    }
</table>