@model PernicekWeb.Models.CatalogViewModel.Item
@{
    ViewData["Title"] = "Item";
}

<h2>Item</h2>

<table class="table">
    <tbody>


            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => Model.product.id_pr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.product.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.product.id_im)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.colours)
                </td>
            </tr>



    </tbody>
</table>

