@model PernicekWeb.Models.OrderViewModels.OrderProduct

<h1>Index</h1>
<h1>Index</h1>

<h1>Index</h1>



        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_pr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_car)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_si)
                </td>
               
            </tr>

        }



    </tbody>
</table>

