@{
    ViewData["Title"] = "About";
}
@section css {
    <link href="~/css/material-dashboard.css" rel="stylesheet" />
}
<div class="container">

    <p>Use this area to provide additional information.</p>
    <div class="section" id="carousel">
        <div class="container">
            <div class="row">
                <div class="col-md-10">

                    <!-- Carousel -->
                    <div class="section" id="carousel">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">

                                    <!-- Carousel Card -->
                                    <div class="card card-raised card-carousel">
                                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                            <div class="carousel slide" data-ride="carousel">

                                                <!-- Indicators -->
                                                <ol class="carousel-indicators">
                                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                                </ol>

                                                <!-- Wrapper for slides -->
                                                <div class="carousel-inner">
                                                    <div class="item active">
                                                        <img src="~/images/bg2.jpeg" alt="Awesome Image">
                                                        <div class="carousel-caption">
                                                            <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <img src="~/images/bg3.jpeg" alt="Awesome Image">
                                                        <div class="carousel-caption">
                                                            <h4><i class="material-icons">location_on</i> Somewhere Beyond, United States</h4>
                                                        </div>
                                                    </div>
                                                    <div class="item">
                                                        <img src="~/images/bg4.jpeg" alt="Awesome Image">
                                                        <div class="carousel-caption">
                                                            <h4><i class="material-icons">location_on</i> Yellowstone National Park, United States</h4>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Controls -->
                                                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                                    <i class="material-icons">keyboard_arrow_left</i>
                                                </a>
                                                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Carousel Card -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <h2>Application uses</h2>
                                <ul>
                                    <li>Sample pages using ASP.NET Core MVC</li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
                                    <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <h2>How to</h2>
                                <ul>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <h2>Overview</h2>
                                <ul>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <h2>Run & Deploy</h2>
                                <ul>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                                    <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- --------------------------------------------------------- -->
                    <div class="card custom-box-shadow">
                        <div class="card-header card-header-icon custom-header" data-background-color="info">
                            <i class="material-icons">shopping_basket</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Shoppping Bag</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-shopping">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"></th>
                                                    <th>Product</th>
                                                    <th class="th-description">Color</th>
                                                    <th class="th-description">Size</th>
                                                    <th class="text-right">Price</th>
                                                    <th class="text-right">Quantity</th>
                                                    <th class="text-right">Amount</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="img-container">
                                                            <img src="../images/dolce.jpg" alt="...">
                                                        </div>
                                                    </td>
                                                    <td class="td-name">
                                                        <a href="#jacket">Spring Jacket</a>
                                                        <br /><small>by Dolce&Gabbana</small>
                                                    </td>
                                                    <td>
                                                        Red
                                                    </td>
                                                    <td>
                                                        M
                                                    </td>
                                                    <td class="td-number">
                                                        <small>&euro;</small>549
                                                    </td>
                                                    <td class="td-number">
                                                        1
                                                        <div class="btn-group">
                                                            <button class="btn btn-round btn-warning btn-xs">
                                                                <i class="material-icons">remove</i>
                                                            </button>
                                                            <button class="btn btn-round btn-warning btn-xs">
                                                                <i class="material-icons">add</i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td class="td-number">
                                                        <small>&euro;</small>549
                                                    </td>
                                                    <td class="td-actions">
                                                        <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-simple">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="img-container">
                                                            <img src="../images/dolce.jpg" alt="..." />
                                                        </div>
                                                    </td>
                                                    <td class="td-name">
                                                        <a href="#pants">Short Pants</a>
                                                        <br /><small>by Pucci</small>
                                                    </td>
                                                    <td>
                                                        Purple
                                                    </td>
                                                    <td>
                                                        M
                                                    </td>

                                                    <td class="td-number">
                                                        <small>&euro;</small>499
                                                    </td>
                                                    <td class="td-number">
                                                        2
                                                        <div class="btn-group">
                                                            <button class="btn btn-round btn-warning btn-xs">
                                                                <i class="material-icons">remove</i>
                                                            </button>
                                                            <button class="btn btn-round btn-warning btn-xs">
                                                                <i class="material-icons">add</i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td class="td-number">
                                                        <small>&euro;</small>998
                                                    </td>
                                                    <td class="td-actions">
                                                        <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-simple">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="img-container">
                                                            <img src="../images/dolce.jpg" alt="...">
                                                        </div>
                                                    </td>
                                                    <td class="td-name">
                                                        <a href="#nothing">Pencil Skirt</a>
                                                        <br /><small>by Valentino</small>
                                                    </td>
                                                    <td>
                                                        White
                                                    </td>
                                                    <td>
                                                        XL
                                                    </td>

                                                    <td class="td-number">
                                                        <small>&euro;</small>799
                                                    </td>
                                                    <td class="td-number">
                                                        1
                                                        <div class="btn-group">
                                                            <button class="btn btn-round btn-warning btn-xs">
                                                                <i class="material-icons">remove</i>
                                                            </button>
                                                            <button class="btn btn-round btn-warning btn-xs">
                                                                <i class="material-icons">add</i>
                                                            </button>
                                                        </div>
                                                    </td>
                                                    <td class="td-number">
                                                        <small>&euro;</small>799
                                                    </td>
                                                    <td class="td-actions">
                                                        <button type="button" rel="tooltip" data-placement="left" title="Remove item" class="btn btn-simple">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3"></td>
                                                    <td class="td-total">
                                                        Total
                                                    </td>
                                                    <td class="td-price">
                                                        <small>&euro;</small>2,346
                                                    </td>
                                                    <td colspan="3" class="text-right">
                                                        <button type="button" class="btn btn-warning btn-round">
                                                            Complete Purchase <i class="material-icons">keyboard_arrow_right</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- --------------------------------------------------------- -->

            </div>
        </div>
    </div>
</div>
    </div>
