@{
    ViewData["Title"] = "About";
}
<div class="page-header header-filter header-custom" data-parallax="true" style="background-color: yellow;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title">About Group 1</h1>
                <h4>Meet the amazing team behind this project and find out more about how we work.</h4>
            </div>
        </div>
    </div>
</div>

<div class="main">
    <div class="container-fluid">
        <div class="about-services features-2">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">E-shop project</h2>
                    <h5 class="description">As IT trainees at Alza, we were tasked with developing an e-commerce web app utilizing the power of .NET Core.</h5>
				</div>
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-3">
                    <div class="info info-horizontal">
                        <div class="icon icon-rose">
                            <i class="material-icons">gesture</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">1. Design</h4>
                            <p>Slick and beautiful. With these words in mind, we brought powerful tools and game-changing technologies to the drawing board.</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-2">
                    <div class="info info-horizontal">
                        <div class="icon icon-rose">
                            <i class="material-icons">build</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">2. Develop</h4>
                            <p>We at Alza IT trainee program spent days building and improving our product in order to achieve desired results and exceed set expectations.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="info info-horizontal">
                        <div class="icon icon-rose">
                            <i class="material-icons">mode_edit</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">3. Make Edits</h4>
                            <p>A piece is, without any final touches, not a masterpiece.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!--     *********    Group 1     *********      -->

	<div class="team-5 section-image" style="background-image: url('/images/bg4.jpeg')">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">We are nerd rockstars</h2>
					<h5 class="description">A creative team with a bright future.</h5>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6">
					<div class="card card-profile card-plain">
						<div class="col-md-5">
							<div class="card-image">
								<a href="https://www.linkedin.com/in/tuan-le-b2a35a131/">
									<img class="img" src="/images/tony.jpg" />
								</a>
							</div>
						</div>
						<div class="col-md-7">
							<div class="card-content">
								<h4 class="card-title">Tuan 'Tony' Le</h4>
								<h6 class="category text-muted">Frontend</h6>

								<p class="card-description">
									I poop magic and rainbows.
								</p>

								<div class="footer">
									<a href="https://www.linkedin.com/in/tuan-le-b2a35a131/" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-linkedin"></i></a>
									<a href="https://www.facebook.com/ledinhtony" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-facebook-square"></i></a>
									<a href="https://github.com/tonyldt" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-github"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="card card-profile card-plain">
						<div class="col-md-5">
							<div class="card-image">
								<a href="https://www.linkedin.com/in/marcel-novak-a3a46b80/">
									<img class="img" src="/images/marcel.jpg" />
								</a>
							</div>
						</div>
						<div class="col-md-7">
							<div class="card-content">
								<h4 class="card-title">Marcel Novák</h4>
								<h6 class="category text-muted">Backend</h6>

								<p class="card-description">
									I look like I smile a lot, but I actually don't.
								</p>

								<div class="footer">
									<a href="https://www.linkedin.com/in/marcel-novak-a3a46b80/" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-linkedin"></i></a>
									<a href="https://www.facebook.com/marcel.novak.16" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-facebook-square"></i></a>
									<a href="https://github.com/novak14" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-github"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
                <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                        <div class="card card-profile card-plain">
                            <div class="col-md-5">
                                <div class="card-image">
                                    <a href="https://www.linkedin.com/in/cong-long-nguyen-492194129/">
                                        <img class="img" src="/images/nudle.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-content">
									<h6 class="category">Leader</h6>
                                    <h4 class="card-title">Long 'Michal' Nguyen</h4>
                                    <h6 class="category text-muted">Backend/Support</h6>

                                    <p class="card-description">
                                        I think I am funny.
                                    </p>

                                    <div class="footer">
                                        <a href="https://www.linkedin.com/in/cong-long-nguyen-492194129/" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-linkedin"></i></a>
										<a href="https://www.facebook.com/NudlickaLong" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-facebook-square"></i></a>
										<a href="https://github.com/nguyelon" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row">

				<div class="col-md-6">
					<div class="card card-profile card-plain">
						<div class="col-md-5">
							<div class="card-image">
								<a href="https://www.linkedin.com/in/julie-boronenko-49b997140/">
									<img class="img" src="/images/julinka.png" />
								</a>
							</div>
						</div>
						<div class="col-md-7">
							<div class="card-content">
								<h4 class="card-title">Julinka Boronenko</h4>
								<h6 class="category text-muted">Backend</h6>

								<p class="card-description">
									Michal is definitely not funny.
								</p>

								<div class="footer">
									<a href="https://www.linkedin.com/in/julie-boronenko-49b997140/" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-linkedin"></i></a>
									<a href="https://www.facebook.com/julia.boronenko" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-facebook-square"></i></a>
									<a href="https://github.com/malyEzecek" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-github"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="card card-profile card-plain">
						<div class="col-md-5">
							<div class="card-image">
								<a href="https://www.linkedin.com/in/duy-anh-le-a8b328144/">
									<img class="img" src="/images/sorry.jpg" />
								</a>
							</div>
						</div>
						<div class="col-md-7">
							<div class="card-content">
								<h4 class="card-title">Duy Anh 'Sorry' Le</h4>
								<h6 class="category text-muted">Support</h6>

								<p class="card-description">
									I am a valuable asset to the team.
								</p>

								<div class="footer">
									<a href="https://www.linkedin.com/in/duy-anh-le-a8b328144/" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-linkedin"></i></a>
									<a href="https://www.facebook.com/Kaze79" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-facebook-square"></i></a>
									<a href="https://github.com/Sorry" class="btn btn-just-icon btn-simple btn-white"><i class="fa fa-github"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>

	<!--     *********    END Group 1      *********      -->
</div>
