
@{
    ViewData["Title"] = "Browse";
}

<h2 style="margin-top: 70px; background-color: brown;">Browse</h2>
<div class="card card-product card-plain card-rotate">
    <div class="rotating-card-container">
        <div class="card-image">
            <div class="front">
                <img class="img" src="../images/marc.jpg" />
            </div>

            <div class="back back-background">
                <div class="card-content">
                    <h5 class="card-title">
                        Quick Actions...
                    </h5>
                    <div class="footer text-center">
                        <a href="#pablo" class="btn btn-round btn-white">
                            <i class="material-icons">info</i> Details
                        </a>
                        <a href="#pablo" class="btn btn-round btn-rose">
                            <i class="material-icons">add_shopping_cart</i> Cart
                        </a>
                    </div>
                    <hr />
                    <p class="card-description">
                        You can share this product with your friends...
                    </p>
                    <a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-pinterest">
                        <i class="fa fa-pinterest"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-round btn-white btn-facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-content">
        <h4 class="card-title">
            <a href="#pablo">Gucci</a>
        </h4>
        <p class="card-description">The structured shoulders and sleek detailing ensure a sharp silhouette. Team it with a silk pocket square and leather loafers.</p>
        <div class="footer">
            <div class="price-container">
                <span class="price price-old"> &euro;1,430</span>
                <span class="price price-new"> &euro;743</span>
            </div>
            <div class="stats">
                <button type="button" rel="tooltip" title="" class="btn btn-just-icon btn-simple btn-rose" data-original-title="Saved to Wishlist">
                    <i class="material-icons">favorite</i>
                </button>
            </div>
        </div>
    </div>
</div>
