@{
    ViewData["Title"] = "Home Page";
}
<!-- Header -->
<div class="header header-filter"  filter-color="rose" id="main-custom-header"> <!-- class="header-filter"  filter-color="rose" -->
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="margin-top: 100px; margin-bottom: 100px; background-color: white; height: 500px;">
        </div>
    </div>
</div>

<div class="header" style="background-color: purple; height: 800px; margin-top: 100px;">

</div>

<div class="header" style="background-color: brown; height: 800px; margin-top: 100px;">

</div>

<div class="header" style="background-color: orange; height: 800px; margin-top: 100px;">

</div>