@{
    ViewData["Title"] = "Home Page";
}
@*<div class="main">
<!-- Header -->
<div class="header"> <!-- class="header-filter"  filter-color="rose" -->
    <div style="margin-top: 70px;"></div>
    <video playsinline autoplay muted loop poster="~/videos/chick.jpg" class="main-vid">
        <source src="~/videos/stretching.mp4" type="video/mp4">
    </video>
</div>

<div class="header" style="margin-top: 50px;">
    <video playsinline autoplay muted loop poster="~/videos/chick.jpg" class="main-vid">
        <source src="~/videos/posing.mp4" type="video/mp4">
    </video>
</div>

<div class="header" style="margin-top: 50px;">
    <video playsinline autoplay muted loop poster="~/videos/chick.jpg" class="main-vid">
        <source src="~/videos/chocolate.mp4" type="video/mp4">
    </video>
</div>

</div>*@
<div class="header-3">
		<div id="carousel" class="carousel slide" data-ride="carousel">
			<div class="carousel slide" data-ride="carousel">

				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div class="page-header" style="background-image: url('images/home-panties.jpg');">

							<div class="container">
								<div class="row">
									<div class="col-md-6 col-md-offset-6 text-right">
										<h1 class="title">Victoria's Secret</h1>
										<h3>Bedroom <b>Game Changer</b>.</h3>
										<br />

										<div class="buttons">
											<a href="/Catalog/Category/34" class="btn btn-simple btn-lg">
												Explore<i class="material-icons">keyboard_arrow_right</i>
											</a>
										</div>

									</div>
								</div>
							</div>
				        </div>

					</div>
					<div class="item">
						<div class="page-header" style="background-image: url('/images/asymmetric.jpg');">

							<div class="container">
								<div class="row">
									<div class="col-md-5 text-left">
										<h1 class="title">Experimental Asymmetry</h1>
										<h4>With its arrival of <b>Collection Asymmetry</b>, Bordelle is reshaping the perception of excitement.</h4>
										<br />
									</div>
								</div>
							</div>

				        </div>

					</div>

					<div class="item">
						<div class="page-header" style="background-image: url('/images/vic-bra.jpg');">

							<div class="container">
								<div class="row">
									<div class="col-md-5 col-md-offset-7 text-right">
										<h1 class="title">Sexy Illusions</h1>
										<h3>Feels like nothing, does everything.</h3>
										<br />

										<div class="buttons">
											<a href="/Catalog/Browse" class="btn btn-danger btn-lg">
												<i class="material-icons">shopping_basket</i> Shop Now
											</a>
										</div>

									</div>
								</div>
							</div>

				        </div>

					</div>

				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel" data-slide="prev">
					<i class="material-icons">keyboard_arrow_left</i>
				</a>
				<a class="right carousel-control" href="#carousel" data-slide="next">
					<i class="material-icons">keyboard_arrow_right</i>
				</a>
			</div>
		</div>

    </div>

    <!--     *********    END HEADER 3      *********      -->