@model PernicekWeb.Models.OrderViewModels.OrderProduct

@*<div class="modal fade" id="basket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: 10%;">
            <div class="card card-signup custom-box-shadow">
                    <div class="header text-center custom-header custom-modal-header">
                        <i class="material-icons">shopping_basket</i>
                    </div>
                    <h3 class="text-center custom-modal-h">Shopping Bag</h3>
*@



<form asp-controller="Order" asp-action="Order" id="carForm" method="get">
    @Html.AntiForgeryToken()
    <div class="card-content">
        <div class="row">
            <div class="shopping-cart-box">
                <div id="shopping-cart-results">
                </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <div id="cart-shopp">
                            <table class="table table-shopping">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th>Product</th>
                                        <th class="th-description">Colour</th>
                                        <th class="th-description text-right">Size</th>
                                        <th class="th-description text-center">Price</th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr id="generate-shoppingbag-content">
                                        <td colspan="2"></td>
                                        <td class="td-total">
                                            Total
                                        </td>
                                        <td class="td-price">
                                        </td>
                                        <td class="text-right">
                                            <a id="empty-bin-btn" class="btn btn-danger btn-fab btn-fab-mini btn-round btn-tooltip" data-toggle="tooltip" data-placement="left" title="Empty the Shopping Bag" data-container="body" onclick="empty_bin();">
                                                <i class="material-icons">delete</i>
                                            </a>
                                            <a id="complete-purchase" asp-controller="Order" asp-action="Order" class="btn btn-warning btn-round">
                                                Cash Out <i class="material-icons">keyboard_arrow_right</i>
                                            </a>
                                            <a asp-controller="Order" asp-action="DeleteAll">Delete all items</a>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</form>



    @*
                </div>
            </div>
        </div>
    *@
