@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

<!-- Log In -->
<div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 15%;">
        <div class="container-fluid">
            <div class="card card-signup custom-box-shadow">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form">
                    <div class="header text-center custom-header">
                        <h4>Log In</h4>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-vk"></i>
                            </a>
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <p class="text-divider">Or be Classical</p>
                    <div class="card-content">
                        <!-- Weird Modal content -->
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="input-group">
                                <label asp-for="Email" class="control-label input-group-addon">
                                    <i class="material-icons">email</i>
                                </label>
                                <input asp-for="Email" class="form-control" placeholder="E-Mail" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <label asp-for="Password" class="control-label input-group-addon">
                                    <i class="material-icons">lock_outline</i>
                                </label>
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="input-group" style="color: #f18585">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                        <!-- End Weird Modal content -->
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-lg custom-header">Log In</button>
                        <p>
                            <a asp-area="" asp-controller="Account" asp-action="Register" class="number">Register a new account!</a>
                        </p>
                        <p>
                            <a asp-action="ForgotPassword" class="number">Forgot password?</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Log In -->

<!-- Categories -->

<div class="modal fade" id="Categories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: 15%;">
        <div class="container-fluid">
            <div class="card card-signup custom-box-shadow">
                    <div class="header text-center custom-header">
                        <h4>Categories</h4>
                    </div>
                    <p class="text-divider">Or be Classical</p>
                    <div class="card-content">
                        <!-- First row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <a asp-controller="Catalog" asp-action="Category" asp-route-id="24">Lingerie</a>
                                    <ul>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="18">Ouverts</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="19">Suspenders</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="20">Bustiers</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="21">Bodies</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="22">Hosiery</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="23">Garters</a></li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <a asp-controller="Catalog" asp-action="Category" asp-route-id="28">Bras</a>
                                    <ul>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="25">Unlined</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="26">Lightly lined</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="27">Push up</a></li>
                                    </ul>
                                    <a asp-controller="Catalog" asp-action="Category" asp-route-id="2">Bridal</a>
                                    <ul>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="0">Honeymoon</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="1">Accessories</a></li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <a asp-controller="Catalog" asp-action="Category" asp-route-id="34">Panties</a>
                                    <ul>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="29">Thongs</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="30">V-strings</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="31">Seamless</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="32">Shorties</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="33">Boyshorts</a></li>
                                    </ul>
                                </div>
                            </div>
                        <!-- End first row -->
                        <!-- Second row -->
                            <div class="row">
                                <div class="col-md-4">
                                    <a asp-controller="Catalog" asp-action="Category" asp-route-id="17">Sport bras</a>
                                    <ul>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="12">High Neck</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="13">Racerback</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="14">Strappy back</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="15">Padded</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="16">Adjustable</a></li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <a asp-controller="Catalog" asp-action="Category" asp-route-id="7">Nightwear</a>
                                    <ul>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="3">Pajamas</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="4">Sleepshirts</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="5">Kimonos & cover ups</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="6">Slips</a></li>
                                    </ul>
                                </div>

                                <div class="col-md-4">
                                    <a asp-controller="Catalog" asp-action="Category" asp-route-id="11">Swimwear</a>
                                    <ul>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="8">Bikinis</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="9">Swimsuits</a></li>
                                        <li><a asp-controller="Catalog" asp-action="Category" asp-route-id="10">Holiday Edit</a></li>
                                    </ul>
                                </div>
                            </div>
                        <!-- End Second row -->
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories -->

<!-- Search -->
<div class="modal fade" id="Search-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 15%;">
        <div class="container-fluid">
            <div class="card card-signup custom-box-shadow">
                    <div class="card-content text-center">
                        <!-- Weird Modal content -->
                        <div class="row">
                            <div class="col-sm-12" style=" padding-right: 0;">
                                <form asp-controller="Search" asp-action="SearchFirm" role="search">
                                    <div class="input-group" >
                                        <input type="text" class="form-control" placeholder="Search" name="SearchString">
                                        <div class="input-group-addon">
                                            <button type="submit" class="btn btn-warning btn-raised btn-fab btn-fab-mini">
                                                <i class="material-icons">search</i>
                                            </button>
                                        </div>
                                        <div id="search-by">
                                            <select class="col-sm-12 selectpicker" data-style="form-control" title="Select" data-size="3">
                                                <option>Brand </option>
                                                <option>Category</option>
                                                <option>Product</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <!-- End Weird Modal content -->
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- End Search -->