@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

<!-- Log In -->
<div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 15%;">
        <div class="container-fluid">
            <div class="card card-signup custom-box-shadow">
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form">
                    <div class="header text-center custom-header">
                        <h4>Log In</h4>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-vk"></i>
                            </a>
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <p class="text-divider">Or be Classical</p>
                    <div class="card-content">
                        <!-- Weird Modal content -->
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="input-group">
                                <label asp-for="Email" class="control-label input-group-addon">
                                    <i class="material-icons">email</i>
                                </label>
                                <input asp-for="Email" class="form-control" placeholder="E-Mail" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="input-group">
                                <label asp-for="Password" class="control-label input-group-addon">
                                    <i class="material-icons">lock_outline</i>
                                </label>
                                <input asp-for="Password" class="form-control" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="input-group" style="color: #f18585">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                        <!-- End Weird Modal content -->
                    </div>
                    <div class="footer text-center">
                        <button type="submit" class="btn btn-lg custom-header">Log In</button>
                        <p>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" class="number">Register a new account!</a>
                        </p>
                        <p>
                            <a asp-action="ForgotPassword" class="number">Forgot password?</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Log In -->

<!-- Categories -->
@*
<div class="modal fade" id="Categories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 15%;">
        <div class="container-fluid">
            <div class="card card-signup custom-box-shadow">
                    <div class="header text-center custom-header">
                        <h4>Categories</h4>
                    </div>
                    <p class="text-divider">Or be Classical</p>
                    <div class="card-content">
                        <!-- Weird Modal content -->
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="nav nav-pills nav-pills-warning nav-stacked">
                                        <li class="active"><a href="#tab1" data-toggle="tab">Profile</a></li>
                                        <li><a href="#tab2" data-toggle="tab">Settings</a></li>
                                        <li><a href="#tab3" data-toggle="tab">Options</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                            <br /><br />
                                            Dramatically visualize customer directed convergence without revolutionary ROI.
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                            <br /><br />Dramatically maintain clicks-and-mortar solutions without functional solutions.
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas.
                                            <br /><br />Dynamically innovate resource-leveling customer service for state of the art customer service.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- End Weird Modal content -->
                    </div>
                    <div class="footer text-center">
                    </div>
            </div>
        </div>
    </div>
</div>*@
<!-- End Categories -->

<!-- Search -->
<div class="modal fade" id="Search-popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 15%;">
        <div class="container-fluid">
            <div class="card card-signup custom-box-shadow">
                    <div class="header text-center custom-header">
                        <h4>Search</h4>
                    </div>
                    <div class="card-content text-center">
                        <!-- Weird Modal content -->
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <form role="search" class="navbar-form">
                                    <div class="form-group form-white">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-warning btn-raised btn-fab btn-fab-mini"><i class="material-icons">search</i></button>
                                </form>
                            </div>
                        </div>
                        
                        <!-- End Weird Modal content -->
                    </div>
                    <div class="footer text-center">
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- End Search -->