@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if ((!Context.Request.Path.ToString().Contains("Order/Order")) && (!Context.Request.Path.ToString().Contains("Manage/Index")) && (!Context.Request.Path.ToString().Contains("Manage/ChangePassword")))
{

            <!--   Core JS Files   -->
            <script src="~/js/jquery.min.js" type="text/javascript"></script>
            <script src="~/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="~/js/material.min.js" type="text/javascript"></script>

            <!--  Plugin for Date Time Picker and Full Calendar Plugin-->
            <script src="~/js/moment.min.js"></script>

            <!--	Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
            <script src="~/js/nouislider.min.js" type="text/javascript"></script>

            <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
            <script src="~/js/bootstrap-datetimepicker.js" type="text/javascript"></script>

            <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
            <script src="~/js/bootstrap-selectpicker.js" type="text/javascript"></script>

            <!--	Plugin for Tags, full documentation here: http://xoxco.com/projects/code/tagsinput/  -->
            <script src="~/js/bootstrap-tagsinput.js"></script>

            <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
            <!-- <script src="~/js/jasny-bootstrap.min.js"></script> -->

            <!--	Plugin for Product Gallery, full documentation here: https://9bitstudios.github.io/flexisel/ -->
            <script src="~/js/jquery.flexisel.js"></script>

            <!--    Plugin for 3D images animation effect, full documentation here: https://github.com/drewwilson/atvImg    -->
            <script src="~/js/atv-img-animation.js" type="text/javascript"></script>

            <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
            <script src="~/js/material-kit.min.js?v=1.1.1" type="text/javascript"></script>

            <!-- Fixed Sidebar Nav -->
            <script src="~/js/modernizr.js" type="text/javascript"></script>
            <script src="~/js/vertical-nav.js" type="text/javascript"></script>

            <!-- SweetAlert2 -->
            <script src="~/js/sweetalert2.min.js" type="text/javascript"></script>

            <!-- Search -->
            <script type="text/javascript">
                function Search_by_brand() {
                    document.getElementById("search-form").removeAttribute("action");
                    document.getElementById("search-form").setAttribute("action", "/Search/SearchFirm");
                    document.getElementById("search-bar").removeAttribute("placeholder");
                    document.getElementById("search-bar").setAttribute("placeholder", "Search by Brand");
                }
                function Search_by_category() {
                    document.getElementById("search-form").removeAttribute("action");
                    document.getElementById("search-form").setAttribute("action", "/Search/SearchCategory");
                    document.getElementById("search-bar").removeAttribute("placeholder");
                    document.getElementById("search-bar").setAttribute("placeholder", "Search by Category");
                }
                function Search_by_products() {
                    document.getElementById("search-form").removeAttribute("action");
                    document.getElementById("search-form").setAttribute("action", "/Search/SearchProducts");
                    document.getElementById("search-bar").removeAttribute("placeholder");
                    document.getElementById("search-bar").setAttribute("placeholder", "Search by Product");
                }
                $(document).ready(function () {
                    $(".search-by-brand").click(function () {
                        Search_by_brand();
                    });
                    $(".search-by-category").click(function () {
                        Search_by_category();
                    });
                    $(".search-by-products").click(function () {
                        Search_by_products();
                    });
                });
            </script>

            @if (Context.Request.Path.ToString().Contains("Catalog/Browse") || Context.Request.Path.ToString().Contains("Catalog/Category"))
            {
            <!-- Catalog - Filter Slider -->
                <script type="text/javascript">
                    $(document).ready(function () {

                        var slider2 = document.getElementById('sliderRefine');

                        noUiSlider.create(slider2, {
                            start: [42, 880],
                            connect: true,
                            range: {
                                'min': [30],
                                'max': [900]
                            }
                        });

                        var limitFieldMin = document.getElementById('price-left');
                        var limitFieldMax = document.getElementById('price-right');

                        slider2.noUiSlider.on('update', function (values, handle) {
                            if (handle) {
                                limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
                            } else {
                                limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
                            }
                        });
                    });
                    
                </script>
            }
<!-- SweetAlert2 Popups -->
<script type="text/javascript">
                    function empty_bin() {
                        swal({
                            title: 'Warning!',
                            text: 'Are you sure, you want to empty the bag?',
                            type: 'warning',
                            confirmButtonText: '<i class="material-icons">delete</i> Do it!',
                            showCancelButton: true,
                            cancelButtonText: '<i class="material-icons">cancel</i> Nah.',
                            buttonsStyling: false,
                            confirmButtonClass: 'btn btn-danger',
                            cancelButtonClass: 'btn btn-default',
                        }).then(function () {
                            $.ajax({
                                url: "/Order/DeleteAll",
                                method: "GET",
                                success: function () {
                                
                                    swal({
                                        title: 'Bag emptied!',
                                        type: 'success',
                                        confirmButtonText: 'Thanks!',
                                        buttonsStyling: false,
                                        confirmButtonClass: 'btn btn-warning',
                                    }).then(function(){
                                        window.location.reload();
                                    }, function (dismiss) {
                                        window.location.reload();
                                    })
                                }
                            })
                            
                        }, function(dismiss){
                            /* Cancels Action */
                        })
                    };
                    function cannot_order() {
                        swal({
                            title: 'Your bag is empty!',
                            text: 'Add some stuff to your bag!',
                            type: 'warning',
                            confirmButtonText: '<i class="material-icons">shopping_basket</i> Add Stuff',
                            showCancelButton: true,
                            cancelButtonText: '<i class="material-icons">cancel</i> Nah, I am good!',
                            buttonsStyling: false,
                            confirmButtonClass: 'btn btn-warning',
                            cancelButtonClass: 'btn btn-default',
                        }).then(function(){
                            window.location.href = "/Catalog/Browse";
                        }, function(dismiss){
                            /* Cancels Action */
                        })
                    };
                    function cannot_delete() {
                        swal({
                            title: 'Your bag is empty!',
                            text: 'There is nothing to throw away!',
                            type: 'warning',
                            confirmButtonText: 'OK!',
                            buttonsStyling: false,
                            confirmButtonClass: 'btn btn-warning',
                        })
                    };
</script>

@if (SignInManager.IsSignedIn(User)) {
    <!-- Shopping Bag Scripts -->
    <script type="text/javascript">
        var saveJsonLength = 0;
        var totalPrice = 0;
        var emptyBagIndicator = 0;
        var myData = {
                nameProduct: "abc",
                Price: 123,
                image: "abc",
                id_pr: 123,
                Firm: "abc",
                amount: 123
            };
        var dataLength = 0;
        var generateShoppingBag = 1;
        $("#cart-box").click(function () {
            $("#cart-box").unbind();
            $.ajax({
                url: "/Order/Refresh",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(myData),
                success: function (data) {


                    if (data.ordProd.length > 0 && data.ordProd.length !== saveJsonLength && generateShoppingBag === 1) {
                        for (var i = 0; i < data.ordProd.length; i++) {
                            var image = '<td><div class="img-container"> <img src="' + data.ordProd[i].image + '" alt="..."> </td></div>';
                            var name = '<td class="td-name"><a href="/Item/Item/'+ data.ordProd[i].id_pr +'">' + data.ordProd[i].nameProduct + '</a><br /><small>by ' + data.ordProd[i].firm + '</small></td>';
                            var price = '<td class="text-center table-number"><small>&euro;</small><span id="item-price-'+ i +'">' + data.ordProd[i].price + '</span></td>';
                            var color = '<td class="text-center table-number">' + data.ordProd[i].colour + '</td>';
                            var size = '<td class="table-number text-center">' + data.ordProd[i].size + '</td>';
                            var deleteItem = '<td class="td-actions"><button value="'+ i +'" type="button" class="btn btn-simple remove-item"><i class="material-icons">close</i></button></td>';
                            
                            var item = '<tr id="Item-Container-'+ i +'">' + image + name + color + size + price + deleteItem + '</tr>';

                            $("#generate-shoppingbag-content").before(item);
                            
                            totalPrice = totalPrice + data.ordProd[i].price;
                        }
                        $(".td-price").append('<small>&euro; </small>' + totalPrice);

                        saveJsonLength = data.ordProd.length;
                    }

                    if (data.ordProd.length === 0 && emptyBagIndicator === 0) {
                        console.info('Shopping bag empty');
                        var emptyMessage = '<tr id="delete-emptyMessage"><td colspan="6" class="text-center"><h4> It is lonely here. </h4></td></tr>';
                        $("#generate-shoppingbag-content").before(emptyMessage);

                        $(".td-price").append('<small>&euro; </small>' + totalPrice);

                        emptyBagIndicator = 1;
                    }

                    if (data.ordProd.length === 0) {
                        document.getElementById("complete-purchase").removeAttribute("href");
                        document.getElementById("complete-purchase").setAttribute("onclick", "cannot_order();");
                    }

                    /* Remove Item */
                    dataLength = data.ordProd.length;
                    $(".remove-item").click(function () {

                        i = $(this).attr("value");

                        var dataToRemove = {
                            id: data.ordProd[i].id_pr,
                            size: data.ordProd[i].id_si,
                            colour: data.ordProd[i].id_col,
                            price: data.ordProd[i].price
                        };

                        $.ajax({
                            url: "/Order/RemoveAJAX",
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(dataToRemove),
                            success: function (data) {
                                
                                $("#Item-Container-" + i).hide('slow', function(){$("#Item-Container-" + i).remove()});
                                dataLength--;
                                generateShoppingBag = 0;

                                $("#notification-number").html(dataLength);
                                $("#cart-box").css("padding-left", "");

                                if (dataLength === 0) {
                                    document.getElementById("complete-purchase").removeAttribute("href");
                                    document.getElementById("complete-purchase").setAttribute("onclick", "cannot_order();");
                                    
                                    $("#notification-number").remove();

                                    $("#empty-bin-btn").attr("onclick", "cannot_delete();");


                                    if (emptyBagIndicator === 0) {
                                        setTimeout (
                                            function emptyMessageFunction () { 
                                                var emptyMessage = '<tr id="delete-emptyMessage"><td colspan="6" class="text-center"><h4> It is lonely here. </h4></td></tr>';
                                                $("#generate-shoppingbag-content").before(emptyMessage);
                                            }, 600
                                        )

                                        emptyBagIndicator = 1;
                                    }
                                }

                                totalPrice = totalPrice - data.price;
                                console.info('Item price: ' + data.price);
                                console.info('Total price: ' + totalPrice);
                                $(".td-price").html('<small>&euro; </small>' + totalPrice);
                            }
                        });
                    });
                }
            });
        });

        /* Shopping Bag content Indicator */
        function NumberOfItemsNotification () {
            console.info( "URL has reloaded" );

            $.ajax({
                url: "/Order/Refresh",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(myData),
                success: function (data) {

                    console.info('NumberOfItemsNotification: Checking Items');
                    if (data.ordProd.length > 0) {
                        $("#cart-box").prepend('<span id="notification-number">'+ data.ordProd.length +'</span>');
                        $("#cart-box").css("padding-left", "0");
                        console.info('NumberOfItemsNotification: Items in Shopping Bag detected');
                    } else {
                        $("#empty-bin-btn").attr("onclick", "cannot_delete();");
                    }
                }
            });
        };
        window.onhashchange = NumberOfItemsNotification();
    </script>
    }
}
<!-- Item/Item -->
@if (Context.Request.Path.ToString().Contains("Item/Item"))
{
    <!-- Item - Preview Galery -->
    <script type="text/javascript">

                    $(document).ready(function () {
                        $("#flexiselDemo1").flexisel({
                            visibleItems: 3,
                            itemsToScroll: 1,
                            animationSpeed: 400,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint: 480,
                                    visibleItems: 3
                                },
                                landscape: {
                                    changePoint: 640,
                                    visibleItems: 3
                                },
                                tablet: {
                                    changePoint: 768,
                                    visibleItems: 3
                                }
                            }
                        });
                    });
    </script>

    <!-- Item - Comment Scripts -->
<div id="hide">
    @await Html.PartialAsync("../Item/_Comments");
    @await Html.PartialAsync("../Item/_ReplyScript");
    @await Html.PartialAsync("../Item/_LikeScript");
    @await Html.PartialAsync("../Item/_DislikeScript");
    @await Html.PartialAsync("../Catalog/_WishList")
</div>
}
<!-- End Item/Item -->

<!-- Account/Register -->
@if (Context.Request.Path.ToString().Contains("Account/Register"))
{
    <script type="text/javascript">
        function register_confirm() {
                console.info("Request for registration sent.");
                swal({
                            title: 'Success!',
                            text: 'You have been successfully registered.',
                            type: 'success',
                            confirmButtonText: '<i class="material-icons">done</i> Yes!',
                            showCancelButton: true,
                            cancelButtonText: '<i class="material-icons">close</i> Nah.',
                            buttonsStyling: false,
                            confirmButtonClass: 'btn btn-success',
                            cancelButtonClass: 'btn btn-default',
                        }).then(function () {
                             Confirm Action 
                        }, function(dismiss){
                             Cancels Action 
                        })
        }
        window.onhashchange = register_confirm();
    </script>
}
<!-- End Account/Register -->

