@*@model Catalog.Business.FilterProduct*@
@**@
@*@{*@
@*    ViewData["Title"] = "Empty";*@
@*}*@

<!-- Header -->
<div class="page-header header-filter header-small item-header-custom" data-parallax="true">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="brand">
                    <h1 class="title">Category Page!</h1>
                    <h4>Free global delivery for all products. Use coupon <b>25summer</b> for an extra 25% Off</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Header -->

<div class="main">
    <div class="container-fluid">

        <div class="row" style="margin-top: 30px;">

            <div class="col-md-12">

                <div class="card card-background" style="background-image: url('../images/order.jpg')">

                    <div class="card-content">
                        <h6 class="category text-info">Productivy Apps</h6>
                        <a href="#pablo">
                            <h3 class="card-title">The Best Productivity Apps on Market</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">subject</i> Read Article
                        </a>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">watch_later</i> Watch Later
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">

                <div class="card card-background" style="background-image: url('../images/order.jpg')">

                    <div class="card-content">
                        <h6 class="category text-info">Productivy Apps</h6>
                        <a href="#pablo">
                            <h3 class="card-title">The Best Productivity Apps on Market</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">subject</i> Read Article
                        </a>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">watch_later</i> Watch Later
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card card-background" style="background-image: url('../images/order.jpg')">

                    <div class="card-content">
                        <h6 class="category text-info">Productivy Apps</h6>
                        <a href="#pablo">
                            <h3 class="card-title">The Best Productivity Apps on Market</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">subject</i> Read Article
                        </a>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">watch_later</i> Watch Later
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card card-background" style="background-image: url('../images/order.jpg')">

                    <div class="card-content">
                        <h6 class="category text-info">Productivy Apps</h6>
                        <a href="#pablo">
                            <h3 class="card-title">The Best Productivity Apps on Market</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">subject</i> Read Article
                        </a>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">watch_later</i> Watch Later
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="card card-background" style="background-image: url('../images/order.jpg')">

                    <div class="card-content">
                        <h6 class="category text-info">Productivy Apps</h6>
                        <a href="#pablo">
                            <h3 class="card-title">The Best Productivity Apps on Market</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">subject</i> Read Article
                        </a>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">watch_later</i> Watch Later
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">

                <div class="card card-background" style="background-image: url('../images/order.jpg')">

                    <div class="card-content">
                        <h6 class="category text-info">Productivy Apps</h6>
                        <a href="#pablo">
                            <h3 class="card-title">The Best Productivity Apps on Market</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">subject</i> Read Article
                        </a>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">watch_later</i> Watch Later
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="card card-background" style="background-image: url('../images/order.jpg')">

                    <div class="card-content">
                        <h6 class="category text-info">Productivy Apps</h6>
                        <a href="#pablo">
                            <h3 class="card-title">The Best Productivity Apps on Market</h3>
                        </a>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">subject</i> Read Article
                        </a>
                        <a href="#pablo" class="btn btn-white btn-simple">
                            <i class="material-icons">watch_later</i> Watch Later
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>