@{
    ViewData["Title"] = "Error";
}

<div class="page-header header-filter search-error-background">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Oh, snap! An Error!</h1>
                <br/>
                <text>No worries, we have already dispatched highly trained monkeys to fix the issue.</text>
            </div>
        </div>
        <a class="btn btn-warning btn-lg" style="margin-top: 5%;"><i class="material-icon">shopping_basket</i>Back to shopping</a>
    </div>
</div>
