@model IEnumerable<Module.Order.Dal.Entities.Cart_pr>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <tbody>



        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_car)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.id_pr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
               
            </tr>

        }



    </tbody>
</table>

