@model PernicekWeb.Models.PlaygroundViewModels.Category


<h2>Category</h2>



    <td>
        <a asp-controller="Playground" asp-action="Category" asp-route-id="8" asp-route-ide="Adidas">Category</a>
    </td>

    
