@model Pernicek.Models.PlaygroundViewModels.PlaygroundViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<form asp-controller="Playground" asp-action="Index">
    <div class="tab-pane" id="ship_address">
        <div class="row">
            <div class="container col-sm-4 col-sm-offset-4">
                <h4 class="info-text"> Are you living in a nice area? </h4>
                <div class="form-group label-floating is-empty">
                    <label asp-for="street" class="control-label">Street Name</label>
                    <input asp-for="street" class="form-control">
                    <span class="material-input"></span>
                </div>
                <div class="form-group label-floating is-empty">
                    <label asp-for="house_number" class="control-label">Street No.</label>
                    <input asp-for="house_number" type="text" class="form-control">
                    <span class="material-input"></span>
                </div>
                <div class="form-group label-floating is-empty">
                    <label asp-for="post_code" class="control-label">Postal Code</label>
                    <input asp-for="post_code" type="text" class="form-control">
                    <span class="material-input"></span>
                </div>
                <div class="form-group label-floating is-empty">
                    <label asp-for="city" class="control-label">City</label>
                    <input asp-for="city" type="text" class="form-control">
                    <span class="material-input"></span>
                </div>
                <div class="form-group label-floating is-empty">
                    <label class="control-label">Country</label>
                    <select name="country" class="form-control">
                        <option disabled="" selected=""></option>
                        <option value="Afghanistan"> Afghanistan </option>
                        <option value="Albania"> Albania </option>
                        <option value="Algeria"> Algeria </option>
                        <option value="American Samoa"> American Samoa </option>
                        <option value="Andorra"> Andorra </option>
                        <option value="Angola"> Angola </option>
                        <option value="Anguilla"> Anguilla </option>
                        <option value="Antarctica"> Antarctica </option>
                        <option value="...">...</option>
                    </select>
                    <span class="material-input"></span>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-pane" id="payment">
        <h4 class="info-text"> How will you pay? </h4>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="col-sm-3">
                    <div class="choice" data-toggle="wizard-radio">
                        <input type="radio" name="Payment" value="0">
                        <div class="icon">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                        <h6>Cash</h6>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="choice" data-toggle="wizard-radio">
                        <input type="radio" name="Payment" value="1">
                        <div class="icon">
                            <i class="material-icons">credit_card</i>
                        </div>
                        <h6>Internet Cash</h6>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="choice" data-toggle="wizard-radio">
                        <input type="radio" name="Payment" value="2">
                        <div class="icon">
                            <i class="fa fa-btc" aria-hidden="true"></i>
                        </div>
                        <h6>Crypto Cash</h6>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="choice" data-toggle="wizard-radio">
                        <input type="radio" name="Payment" value="3">
                        <div class="icon">
                            <i class="material-icons">whatshot</i>
                        </div>
                        <h6>Human Soul</h6>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-warning btn-round" value="Finish" />
                </div>
            </div>
        </div>
    </div>
</form>