@model IEnumerable<PernicekWeb.Models.PlaygroundViewModels.Product>

@{
    ViewData["Title"] = "Index";
}



<h2>Index</h2>


<table class="table">
    <tbody>


       @foreach (var item in Model)
       {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>      
                <td>
                    <img src="@item.image" alt="Pic" />
                   
                </td>
        </tr>
       }


    </tbody>
</table>