@model ReflectionIT.Mvc.Paging.PagingList<Catalog.Business.FilterProduct>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@*<div class="modal fade" id="basket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="margin-top: 10%;">
            <div class="card card-signup custom-box-shadow">
                    <div class="header text-center custom-header custom-modal-header">
                        <i class="material-icons">shopping_basket</i>
                    </div>
                    <h3 class="text-center custom-modal-h">Shopping Bag</h3>
*@

<h2></h2>
<nav>
    @await this.Component.InvokeAsync("Pager",new { pagingList = this.Model})
</nav>
@foreach(var item in Model)
{
    <a asp-controller="Playground" asp-action="Index">idecko</a><br/>

}
<nav>
    <vc:pager paging-list="@Model" /> 
</nav>