
@{
    ViewData["Title"] = "EmptyString";
}

<!-- Chce to jeste lepe zformatovat, NavBar kryje prvni <H> -->
<h2>Please enter a search string!</h2>
<h2>Empty string!</h2>
<text>Please enter a search string.</text>


