@using Microsoft.AspNetCore.Identity
@using Pernicek.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <a data-toggle="modal" data-target="#PostYourComment" class="btn btn-warning btn-lg">Post your comment</a>
    </div>
}
else
{
    <div class="text-center">
        <a data-toggle="modal" data-target="#logIn" class="btn btn-warning btn-lg">Post your comment</a>
    </div>
}
