@using Microsoft.AspNetCore.Identity
@using Pernicek.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <a data-toggle="modal" data-target="#reply-@Model" class="btn btn-warning btn-simple pull-right" rel="tooltip" title="Reply to Comment">
        <i class="material-icons">reply</i> Reply
    </a>
   
    <!--Begin Reply-->
    
    <div class="modal fade" id="reply-@Model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 10%;">
            <div class="card card-signup custom-box-shadow">
                <div class="header text-center custom-header custom-modal-header">
                    <i class="material-icons">reply</i>
                </div>

                <h3 class="text-center custom-modal-h">Post Your Reply</h3>

                <div class="card-content" style="padding-right: 1%;">
                    <div class="media media-post">
                        <div id="PostNewReply" class="media-body">
                            <textarea id="NewReply-@Model" class="form-control" placeholder="Write some nice stuff or nothing..." rows="6"></textarea>
                            <div id="divCheckbox" style="display: none;">

                            </div>
                                <div class="media-footer">
                                    <a  class="btn btn-warning btn-wd pull-right" onclick="MakeReply(@Model)">Post Reply</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Reply-->
}
else
{
    <a data-toggle="modal" data-target="#logIn" class="btn btn-warning btn-simple pull-right" rel="tooltip" title="Reply to Comment">
        <i class="material-icons">reply</i> Reply
    </a>
}



