@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="header" id="background-register">
    <div class="container" style="margin-top: 70px; padding-top: 250px; padding-bottom: 250px;">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <div class="card card-signup custom-box-shadow">
                    <form id="Register-Form" asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form">
                        <div class="header text-center custom-header">
                            <h4>Sign up</h4>
                            <div class="social-line">
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-vk"></i>
                                </a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="content">

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <p class="text-divider">Personal Details</p>
                                    <div class="input-group"> <!-- Firstname -->
                                        <label asp-for="name" class="control-label input-group-addon">
                                            <i class="material-icons number">person</i>
                                        </label>
                                        <input asp-for="name" class="form-control" placeholder="First Name" />
                                    </div>
                                    <div class="input-group"> <!-- Lastname -->
                                        <label asp-for="sec_name" class="control-label input-group-addon">
                                            <i class="material-icons number">record_voice_over</i>
                                        </label>
                                        <input asp-for="sec_name" class="form-control" placeholder="Last Name" />
                                    </div>
                                    <div class="input-group"> <!-- Phone -->
                                        <label asp-for="mobile" class="control-label input-group-addon">
                                            <i class="material-icons">call</i>
                                        </label>
                                        <input asp-for="mobile" class="form-control" placeholder="Phone" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="text-divider">Account Details</p>
                                    <div class="input-group"> <!-- E-mail -->
                                        <label asp-for="Email" class="control-label input-group-addon">
                                            <i class="material-icons number">email</i>
                                        </label>
                                        <input asp-for="Email" class="form-control" placeholder="E-Mail" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="input-group"> <!-- Password -->
                                        <label asp-for="Password" class="control-label input-group-addon">
                                            <i class="material-icons number">lock_open</i>
                                        </label>
                                        <input asp-for="Password" class="form-control" placeholder="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="input-group"> <!-- Confirm Password -->
                                        <label asp-for="ConfirmPassword" class="control-label input-group-addon">
                                            <i class="material-icons number">lock_outline</i>
                                        </label>
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-lg custom-header">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@if (ViewData["Success"] != null)
{
    <div class="alert alert-success" style="position: absolute; top: 70px; left: 0; width: 100%;">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">check</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            You have <b>registered</b> successfully!
        </div>
        
    </div>


   @*<a asp-controller="Account" asp-action="Transfer" asp-route-returnurl="@ViewData["ReturnUrl"]" class="form">Go back</a>*@
}

        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
