@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="header" id="background-register">

    <div class="container" style="margin-top: 70px; padding-top: 250px; padding-bottom: 250px;">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                <div class="card card-signup custom-box-shadow">
                    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form">
                        <div class="header text-center custom-header">
                            <h4>Sign Up</h4>
                            <div class="social-line">
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="content">

                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <p class="text-divider">Personal details</p>
                                    <div class="input-group">
                                        <label class="control-label input-group-addon">
                                            <i class="material-icons">person</i>
                                        </label>
                                        <input class="form-control" placeholder="First name" />
                                    </div>
                                    <div class="input-group">
                                        <label class="control-label input-group-addon">
                                            <i class="material-icons">person</i>
                                        </label>
                                        <input class="form-control" placeholder="Last name" />
                                    </div>
                                    <div class="input-group">
                                        <label class="control-label input-group-addon">
                                            <i class="material-icons">call</i>
                                        </label>
                                        <input class="form-control" placeholder="Phone" />
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <p class="text-divider">Account details</p>
                                    <div class="input-group">
                                        <label asp-for="Email" class="control-label input-group-addon">
                                            <i class="material-icons">email</i>
                                        </label>
                                        <input asp-for="Email" class="form-control" placeholder="E-Mail" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="input-group">
                                        <label asp-for="Password" class="control-label input-group-addon">
                                            <i class="material-icons">lock_open</i>
                                        </label>
                                        <input asp-for="Password" class="form-control" placeholder="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="input-group">
                                        <label asp-for="ConfirmPassword" class="control-label input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </label>
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-lg custom-header">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
