/****** Object:  Table [dbo].[picture]    Script Date: 26.7.2017 17:22:28 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[picture](
	[id_im] [int] IDENTITY(1,1) NOT NULL,
	[link] [varchar](max) NOT NULL,
 CONSTRAINT [PK_picture] PRIMARY KEY CLUSTERED 
(
	[id_im] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
