body {
    /**/
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    background-color: orange;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*----------------------------------- my own shit --------------------------------------------*/
.bg-custom {
    /*background-color: #b14585; pink*/
    background-color: white;
    color: black;
}
.number {
    color: #f18585;
}
.letter {
    color: #b14585;
}
footer {
    background-color: white;
}
#bgvid {
    position: absolute;
    top: 70px;
    width: 100%;
}
/*video#bgvid {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('chick.jpg') no-repeat;
    background-size: cover;
}*/
.navbar-brand {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
footer {
    margin-top: 15%;
}
/*---------------------------------- Login/Sign-up --------------------------------------------*/
.form-control {
    background-image: linear-gradient(#f18585, #f18585), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

.custom-header {
    background-color: #f18585 !important;
    color: white;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #f18585;
}
#login-video {
    width: 100%;
}
/*----------------------------------------- index ---------------------------------------------*/
#main-custom-header {
    background-color: white; 
    background-image: url('../images/city.jpg');
    background-size: cover; 
    background-attachment: fixed;
    margin-top: 70px;
    position: relative;
    display: block;
}
/*----------------------------------------- about ----------------------------------------------*/
#map {
    margin-top: 60px;
    background-color: grey;
    height: 500px;
}