@font-face {
    font-family: 'Handycheera';
    src: url('/fonts/Handycheera.otf');
}
body {
    margin: 0 !important;
    padding: 0 !important;
    border: 0;
}
/*----------------------------------- my own shit --------------------------------------------*/
.bg-custom {
    /*background-color: #b14585; pink*/
    background-color: white;
    color: black;
}

.number {
    /*color: #f18585 !important; color: orange;*/
    color: orange !important;
}

.letter {
    /*color: #b14585;*/
    color: orange;
}

#bgvid {
    position: absolute;
    top: 70px;
    width: 100%;
}
/*video#bgvid {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('chick.jpg') no-repeat;
    background-size: cover;
}*/
/*footer {
    margin-top: 15%;
}
    */
.custom-box-shadow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

a {
    cursor: pointer !important;
}

    a:active {
        /*color: #f18585 !important;*/
        color: orange !important;
    }

.panel .panel-heading a:active, .panel .panel-heading a:hover, .panel .panel-heading a[aria-expanded=true] {
    /*color: #f18585 !important;*/
    color: orange;
}

.btn-custom-color {
    /*background-color: #f18585 !important;*/
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    color: white;
}

input {
    max-width: 500px !important;
}

footer a:hover {
    color: orange;
}

::selection {
    background-color: orange;
    color: white;
}

#search-by div button {
    background-image: linear-gradient(60deg, #ffa726, #fb8c00), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

.custom-modal-header {
    width: 100px;
    padding: 30px 30px !important;
}

.custom-modal-h {
    margin-top: -40px;
    margin-bottom: 40px;
}

.table-number {
    font-size: 150% !important;
}
#hide {
    overflow: hidden; 
    display: none;
}
.category-banner {
    font-size: 600% !important;
    font-family: Handycheera;
}

/*---------------------------------- Login/Sign-up --------------------------------------------*/
.form-control {
    /*background-image: linear-gradient(#f18585, #f18585), linear-gradient(#D2D2D2, #D2D2D2) !important;*/
    background-image: linear-gradient(60deg, #ffa726, #fb8c00), linear-gradient(#D2D2D2, #D2D2D2) !important;
}

.custom-header {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    color: white;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    /*background: #f18585;*/
    background: orange;
}

#login-video {
    width: 100%;
    margin-bottom: 300px;
}

#background-register {
    width: 100%;
    background-image: url('../images/register.jpg');
    background-color: purple;
    background-size: cover;
}
/*----------------------------------------- index ---------------------------------------------*/
#main-custom-header {
    background-color: white;
    background-image: url('../images/city.jpg');
    background-size: cover;
    background-attachment: fixed;
    margin-top: 70px;
    position: relative;
    display: block;
}

.main-vid {
    width: 100%;
}
/*----------------------------------------- contact ---------------------------------------------*/
#map {
    margin-top: 60px;
    background-color: grey;
    height: 500px;
}
/*----------------------------------------- profile ---------------------------------------------*/
.main-panel, .sidebar {
    overflow: auto !important;
}
.data {
    float: right;
}
.vcenter {
    margin-top: 10%;
}
/*----------------------------------------- shopping bag ----------------------------------------*/
.modal-lg {
    width: 80% !important;
}

#cart-box span {
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 11px;
    z-index: 2;
    text-align: text-center;
    background-color: red;
    color: white;
    font-size: 75%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    line-height: 15px;
}
/*----------------------------------------- e-commerce ------------------------------------------*/
.browse-header-custom {
    height: auto !important;
    background-color: rgba(0,0,0,0.4);
}
.item-header-custom {
    height: auto !important;
    background-color: yellow;
}
.dropdown-menu li a:hover {
    background-color: orange !important;
}
.header-cover {
    background-image: url('http://www.lagentbyap.com/media/email/aw16lookbook/images/july/thumbnail/July-Lookbook-1.jpg');
    background-size: cover;
}
.page-element {
    border: inherit;
    border-radius: inherit;
    transition: inherit;
    padding: inherit;
    margin: inherit;
    min-width: inherit;
    height: inherit;
    line-height: inherit;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    text-transform: inherit;
    background: inherit;
}
/*----------------------------------------- order ------------------------------------------------*/
#ShippingOptions {
    display: none;
}

#card-land, #card-sea, #card-air, #card-ultra {
    cursor: pointer;
}
/*.picked-color {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    color: white;
}*/
.card-raised-color {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}
.picked-color {
    color: white !important;
}
/*--------------------------------------- Categories ----------------------------------------------*/
#lingerie {
    background-image: url('https://i.ytimg.com/vi/ChBSW0WPKeA/maxresdefault.jpg');
}
#sport-bras {
    background-image: url('https://www.frugalcouponliving.com/wp-content/uploads/2016/01/Screen-Shot-2016-01-07-at-8.07.19-PM.png');
}
#bras {
    background-image: url('http://theimpression.com/wp-content/uploads/Victorias-Secret-Bralettes-ad-campaign-spring-2016-the-impression-0021.jpg');
}
#bridal {
    background-image: url('http://www.agentprovocateur.com/media/wysiwyg/1280x700_1_seraphina.jpg');
}
#swimwear {
    background-image: url('https://pixel.nymag.com/imgs/fashion/daily/2016/04/22/22-victorias-secret-swimwear.w710.h473.2x.jpg');
}
#panties {
    background-image: url('https://pxhst.co/avaxhome/56/2a/00432a56.jpg');
}
#nightwear {
    background-image: url('http://www.agentprovocateur.com/media/wysiwyg/the-first-night-1.jpg');
}
.header-cover-category {
    background-image: url('https://i.pinimg.com/originals/33/78/78/337878a3f8760f1ae4c1c4b1335cb211.jpg');
    background-size: cover;
}
/*https://i.pinimg.com/originals/33/78/78/337878a3f8760f1ae4c1c4b1335cb211.jpg*/

/*--------------------------------------- Search  ----------------------------------------------*/
.search-error-background {
    background-color: yellow;
}
/*--------------------------------------- Header-Custom -----------------------------------------*/
.header-custom {
    height: 50vh !important;
}
/*--------------------------------------- Summary -----------------------------------------*/
.summary-option {
    background-color: white;
}
.shipping-option, .payment-option {
    display: none;
}
.td-price {
    text-align: center !important;
}
